body {
    background-image: url(assets/world.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .container {
    margin-top: 150px;
    width: 90%;
  }
